$primary: #006EAD;
$grey: #E3E7E9;
$grey-light: #F7F8F9;
$active: #2284BB;
$text: #485258;


.icon {
  width: 1em;
  height: 1em;
  fill: $text;
   path {
    fill: inherit;
   }

}

button {
  margin: 0;
  //this is just es an example for accessibility violations
  color: lighten($text,50%);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.content {
  display: flex;
  margin: 2rem auto;
  min-height: 100vh;
}

.chevron {

  &__group {
    transform: translateY(0);
    transition: transform 0.1s linear;
  }

  &__box--left,
  &__box--right {
    transform: rotate(0) translateY(0);
    transition: transform 0.1s linear;
  }

  &__box--left {
    transform-origin: 1px 1px;
  }

  &__box--right {
    transform-origin: 7px 1px;
  }
}

.detailspane {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25rem;
  font-size: 0.8125rem;
  opacity: 1;
  transform: translateX(0%);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

  &--closed {
    transform: translateX(100%);
    opacity: 0;
    transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
  }
}

.detailspane__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.detailspane__title {
  margin: 0;
  font-size: 1.625rem;
  font-weight: 500;
  box-shadow: 0 0.15rem 0 $text;
}

.detailsbox__headerwrap {
  margin: 0;
}

.detailsbox__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.375rem 0.75rem;
  border-radius: 3px;
  border: 1px solid $grey;
  background-color: $grey;
  font-weight: 600;
  margin-bottom: 0.375rem;

  & > * {
    pointer-events: none;
  }

  .icon {
    margin-left: 1em;
  }

  &:focus, &:active, &:focus {
    outline: none;
    border-color: $active;
  }

  &[aria-expanded="true"] {
      .chevron {

        &__group {
          transform: translateY(3px);
        }

        &__box--left {
          transform: rotate(-90deg) translateY(0);
        }
        &__box--right {
          transform: rotate(90deg) translateY(0);
        }

      }
  }
}

.detailsbox__content {
  padding: 0.75rem 0.75rem 1.125rem 0.75rem;
  //background: $active;
  p {
    margin: 0;
  }
}
